@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6B7280 #d4d4d4;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #d4d4d4;
}

*::-webkit-scrollbar-thumb {
  background-color: #6B7280;
  border-radius: 20px;
  border: 3px solid #d4d4d4;
}
