// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
@import "~toastr/toastr";
@import '~axios-progress-bar/dist/nprogress.css';


#toast-container > .toast-success,
#toast-container > .toast-info,
#toast-container > .toast-warning,
#toast-container > .toast-error {
  background-image: none !important;
  padding: 15px;
  width: 100%;
}

:root {
  --primary: #4BB9EC;
  --secondary: #006DF3;
  --dark: #262626;
  --white: #FFFFFF;
  --background: #F2F2F2;
  --active_dark: #ffffff1a;
  --active_white: #0000001a;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}

nav.navbar {

  & > * {
    height: 65px;
  }

  & > .navbar-brand {
    text-align: center;
    padding: 12px 0;
  }

  & > div {
    height: 65px;
  }
  & .form-group {

    & > i {
      color: #B3B3B3;
      padding: 0 5px 0 5px;
    }
    & .form-control {
      border: none;
      box-shadow: none;
      width: calc(100% - 36px);

      @media only screen and (max-width: 575px) {
        & {
          width: 100%;
        }
      }
    }
  }

  .right-menu {

    i {
      color: #747474;
    }

    .divider {
      border-left: 1px #262626 solid;
      height: 25px;
    }

    .user {
      color: inherit;
      text-decoration: none;

      &:hover span {
        text-decoration: underline;
      }

      .avatar img {
        height: 40px;
      }
    }
  }
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--primary);
}

body div {

  nav.navbar {
    .navbar-top {
      background-color: #fff;
    }
  }

  & > .container-fluid {
    padding: 65px 0 0;

    nav.sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      padding: 65px 0 0;

      @media only screen and (max-width: 576px) {
        &.col-1 {
          flex: 0 0 60px;
          max-width: 60px;
        }
      }

      .sidebar-sticky {
        position: sticky;
        top: 0;
        height: calc(100vh - 65px);
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.15);

        .nav-item {
          height: 50px;

          .nav-link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            border-left: 4px solid transparent;

            &.router-link-active {
              border-left-color: var(--secondary);
            }

            .icon {
              display: flex;
              padding: 0 1rem 0 0;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    main {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 65px 0 0;
      overflow-y: auto;

      @media only screen and (max-width: 576px) {
        &.col-11 {
          flex: 0 0 calc(100% - 60px);
          max-width: calc(100% - 60px);
        }
      }

      & > .container-fluid.loading {
        height: calc(100% - 32.5px);
      }

      & > .container-fluid {
        min-height: calc(100% - 32.5px);
      }

      footer {
        position: relative;
        bottom: 0;
        right: 0;
        padding: 5px 10px;
        background-color: var(--dark);
        color: var(--white);
        width: 100%;
        text-align: right;
        font-size: 15px;

        a {
          color: var(--white);
          outline: none;

          &:focus {
            text-decoration: underline;
          }
        }
      }
    }

  }

}

.list-group-item {
  &:first-child {
    border-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.dropdown-large {
  min-width: 450px;
}

#notifyDropdown .badge {
  border-radius: 25px;
  height: 16px;
  left: 15px;
  top: 16px;
  padding: 0.15em 0.4em;
  position: absolute;
  animation: pulse-danger 2s infinite;
}

@keyframes pulse-danger {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}

@import "./formfields/button";
@import "./formfields/checkbox";
@import "./formfields/select";

.btn-outline-dark {
  color: var(--dark);
  border-color: var(--dark);

  &.focus,
  &:focus,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  &.dropdown-toggle:focus {
    box-shadow: 0 0 7px 0 var(--dark)!important;
  }
}

.box-dark-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}