/**
  Media Manager Styles
 */

.media-manager {
  @media (min-width: 992px) {
    & {
      height: calc(100vh - 32.5px - 65px);
    }
  }

  @media (min-width: 992px) {
    & > .media-viewer-container {
      height: calc(100% - 64px);
    }
  }

  select, select:focus {
    background-color: var(--box_background);
    color: var(--body_color);
  }

  .breadcrumb {
    height: calc(100% - 64px);

    @media (max-width: 991px) {
      & {
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
      }
    }
  }

  .breadcrumb-item {
    &::before, &.active {
      color: var(--body_color);
    }

    a {
      color: var(--mediamanager_breadcrumb);
    }
  }

  .media-viewer {
    overflow: auto;
    height: 100%;

    .element {
      z-index: 1;
      margin-right: 0.8rem;
      margin-bottom: 0.8rem;

      .card {
        background-color: var(--box_background);

        &.selected {
          background-color: var(--mediamanager_selected);
        }

        .card-body {
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
        }

        .card-preview {
          height: 70px;
          width: 70px;
        }

        .element-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .media-backdrop {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
    }
  }
}

#contextMenuElement .dropdown-menu,
#contextMenu .dropdown-menu,
#contextMenuSelected .dropdown-menu {
  background-color: var(--box_background);
  min-width: 200px;

  a {
    color: var(--body_color);
  }

  .dropdown-item:hover {
    background-color: var(--sidebar_active);
  }
}

.folder-tree-modal {
  li, li.disabled {
    background-color: var(--box_background);
    color: var(--body_color);

    &.active, &:hover {
      background-color: var(--sidebar_active);
      color: var(--body_color);
    }
  }
}
