
nav.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 65px 0 0;
  background-color: var(--sidebar_background);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 991px) {
    & {
      flex: 0 0 60px;
      max-width: 60px;
    }
  }

  .sidebar-sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 65px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff26;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--sidebar_scrollbar_thumb);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--sidebar_scrollbar_thumb_hover);
    }

    .nav-item .nav-link {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-left: 4px solid transparent;

      &:hover {
        background-color: var(--sidebar_active);
      }

      &.router-link-active {
        border-left-color: var(--sidebar_active_border);
        background-color: var(--sidebar_active);
      }

      span, .icon {
        color: var(--sidebar_text);
      }

      .icon {
        width: 38px;
        display: flex;
        padding: 0 1rem 0 0;
        font-size: 1.1rem;
        margin-left: 5px;

        @media (max-width: 991px) {
          & {
            padding: 0;
            width: auto;
            margin: 0 auto;
          }
        }
      }

      &.dropdown-toggle::after {
        position: absolute;
        right: 20px;
        color: #fff;
        font-size: 20px;
      }

      &.dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(180deg);
      }
    }

  }
}
