nav.navbar > .navbar-brand {
  background-color: #262626;
}

nav.sidebar {
  background-color: var(--dark);
}

nav.sidebar .sidebar-sticky::-webkit-scrollbar {
  width: 7px;
}

nav.sidebar .sidebar-sticky::-webkit-scrollbar-track {
  background: #ffffff26;
}

nav.sidebar .sidebar-sticky::-webkit-scrollbar-thumb {
  background: var(--primary);
}

nav.sidebar .sidebar-sticky::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

nav.sidebar .sidebar-sticky .nav-item .nav-link.active {
  background-color: var(--active_dark);
}

nav.sidebar .sidebar-sticky .nav-item .nav-link span, nav.sidebar .sidebar-sticky .nav-item .nav-link .icon {
  color: var(--white);
}
