.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  margin: 0;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    & + .checkmark {
      position: absolute;
      top: 1px;
      left: 0;
      height: 20px;
      width: 20px;
      border: 1px solid #BDBDBD;
      border-radius: 5px;
      transition: all 200ms;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 3px;
        width: 6px;
        height: 11px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  &:hover input[type="checkbox"] ~ .checkmark,
  & input[type="checkbox"]:focus ~ .checkmark {
    background-color: #ccc;
  }

  & input[type="checkbox"]:checked ~ .checkmark {
    background-color: #262626;
    border-color: #262626;

    &:after {
      display: block;
    }
  }

}